projects/ArturosHomeWork/flow.json
[{"id":"3865db93.5dfc54","type":"tab","label":"Say","disabled":false,"info":""},{"id":"23492b6.49a6ed4","type":"tab","label":"Simple Processor","disabled":false,"info":""},{"id":"28933915.7a4fd6","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"db448218.18f8f","type":"tab","label":"Complex","disabled":false,"info":"A complex flows, without server buffer"},{"id":"31f69d61.46d522","type":"exec","z":"3865db93.5dfc54","command":"say","addpay":true,"append":"","useSpawn":false,"name":"","x":535,"y":162,"wires":[["a9e42948.8b88a8","5b037acb.43ba74"],[],[]]},{"id":"a9e42948.8b88a8","type":"debug","z":"3865db93.5dfc54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":761,"y":151,"wires":[]},{"id":"9be40d79.9c0a5","type":"inject","z":"3865db93.5dfc54","name":"","topic":"","payload":"\"Isn't it nice to have a computer that will talk to you?\"","payloadType":"str","repeat":"","crontab":"","once":false,"x":95,"y":162,"wires":[["1948083c.9bc1e8"]]},{"id":"1948083c.9bc1e8","type":"function","z":"3865db93.5dfc54","name":"Simple triggered queue","func":"// if queue doesn't exist, create it\ncontext.queue = context.queue || [];\ncontext.busy = context.busy || false;\n\n// if the msg is a trigger one release next message\nif (msg.hasOwnProperty(\"trigger\")) {\n    if (context.queue.length > 0) {\n        var m = context.queue.shift();\n        return {payload:m};\n    }\n    else {\n        context.busy = false;\n    }\n}\nelse {\n    if (context.busy) {\n        // if busy add to queue\n        context.queue.push(msg.payload);\n    }\n    else {\n        // otherwise we are empty so just pass through and set busy flag\n        context.busy = true;\n        return msg;\n    }\n}\n\nreturn null;","outputs":1,"noerr":0,"x":320,"y":161,"wires":[["31f69d61.46d522"]]},{"id":"5b037acb.43ba74","type":"function","z":"3865db93.5dfc54","name":"set trigger","func":"// handle the return from the exec in here \n// if all is good then set msg.trigger property to exist\nmsg.trigger = 1;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":315,"wires":[["1948083c.9bc1e8"]]},{"id":"15d4f37.e25b20d","type":"debug","z":"23492b6.49a6ed4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":683.0000839233398,"y":382.9999990463257,"wires":[]},{"id":"49ea3772.de4df8","type":"function","z":"23492b6.49a6ed4","name":"Queue","func":"// if queue doesn't exist, create it\ncontext.queue = context.queue || [];\ncontext.busy = context.busy || false;\ncontext.messageNumber = context.messageNumber || 0;\n\n// if the msg is a trigger one release next message\nif (msg.hasOwnProperty(\"trigger\")) {\n    if (context.queue.length > 0) {\n        var m = context.queue.shift();\n        var newMsg = {};\n        newMsg.payload = m + \" \" + context.messageNumber++;\n        newMsg.messagesWaiting = context.queue.length;\n        return newMsg;\n    }\n    else {\n        context.busy = false;\n    }\n}\nelse {\n    if (context.busy) {\n        // if busy add to queue\n        context.queue.push(msg.payload);\n    }\n    else {\n        // otherwise we are empty so just pass through and set busy flag\n        context.busy = true;\n        msg.payload = msg.payload + \" \" + context.messageNumber++;\n        msg.messagesWaiting = context.queue.length;\n        return msg;\n    }\n}\n\nreturn null;","outputs":1,"noerr":0,"x":341.99999618530273,"y":272.99999618530273,"wires":[["8e84f4bc.eb5b38"]]},{"id":"b963e178.2dac6","type":"function","z":"23492b6.49a6ed4","name":"set trigger","func":"// handle the return from the exec in here \n// if all is good then set msg.trigger property to exist\nmsg.trigger = 1;\nreturn msg;","outputs":1,"noerr":0,"x":428.0000457763672,"y":384.99999809265137,"wires":[["49ea3772.de4df8","15d4f37.e25b20d"]]},{"id":"8e84f4bc.eb5b38","type":"delay","z":"23492b6.49a6ed4","name":"Processor","pauseType":"delay","timeout":"900","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":516.3999977111816,"y":274.99999618530273,"wires":[["b963e178.2dac6"]]},{"id":"d9b5e5f4.7b2768","type":"inject","z":"23492b6.49a6ed4","name":"","topic":"NewTopic","payload":"\"Event\"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":133.99999237060547,"y":273.9999942779541,"wires":[["49ea3772.de4df8"]]},{"id":"6caffee5.352bb","type":"inject","z":"28933915.7a4fd6","name":"","topic":"NewTopic","payload":"\"Event\"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":145.1999969482422,"y":119,"wires":[["98e83f31.f4318"]]},{"id":"8d575f94.28739","type":"debug","z":"28933915.7a4fd6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":694.2000885009766,"y":228.00000476837158,"wires":[]},{"id":"98e83f31.f4318","type":"function","z":"28933915.7a4fd6","name":"Queue","func":"// if queue doesn't exist, create it\ncontext.queue = context.queue || [];\ncontext.busy = context.busy || false;\ncontext.messageNumber = context.messageNumber || 0;\n\n// if the msg is a trigger one release next message\nif (msg.hasOwnProperty(\"trigger\")) {\n    if (context.queue.length > 0) {\n        var newMsg = {};\n        newMsg.payload = context.queue.shift() + \" \" + context.messageNumber++;\n        newMsg.messagesWaiting = context.queue.length;\n        return newMsg;\n    }\n    else {\n        context.busy = false;\n    }\n}\nelse {\n    if (context.busy) {\n        // if busy add to queue\n        context.queue.push(msg.payload);\n    }\n    else {\n        // otherwise we are empty so just pass through and set busy flag\n        context.busy = true;\n        msg.payload = msg.payload + \" \" + context.messageNumber++;\n        msg.messagesWaiting = context.queue.length;\n        return msg;\n    }\n}\n\nreturn null;","outputs":1,"noerr":0,"x":353.20000076293945,"y":118.00000190734863,"wires":[["10dad51e.972a6b"]]},{"id":"109ca803.91bfd8","type":"function","z":"28933915.7a4fd6","name":"set trigger","func":"// handle the return from the exec in here \n// if all is good then set msg.trigger property to exist\nmsg.trigger = 1;\nreturn msg;","outputs":1,"noerr":0,"x":439.2000503540039,"y":230.00000381469727,"wires":[["98e83f31.f4318","8d575f94.28739"]]},{"id":"10dad51e.972a6b","type":"delay","z":"28933915.7a4fd6","name":"Processor","pauseType":"random","timeout":"1200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"500","randomLast":"1500","randomUnits":"milliseconds","drop":false,"x":527.6000022888184,"y":120.00000190734863,"wires":[["109ca803.91bfd8"]]},{"id":"588e0355.8b0a7c","type":"inject","z":"db448218.18f8f","name":"GenerateEvent","topic":"event","payload":"{\"event\": \"event\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":124.50005340576172,"y":234.00000190734863,"wires":[["6ae85f1f.fa292"]]},{"id":"6ae85f1f.fa292","type":"function","z":"db448218.18f8f","name":"HandleMessage","func":"// Handle the message. There are two message types\n// - reset: used to reset the flow; helps with debugging.\n// - event: the actual events\nvar flowContext = context.flow;\nswitch (msg.topic) {\n    case 'reset':\n        flowContext.messsageNumber = 0;\n        flowContext.eventQueue = [];\n        flowContext.servers = [\n            {id: \"server_01\", state: \"idle\", capacity: 700},\n            {id: \"server_02\", state: \"idle\", capacity: 710},\n            {id: \"server_03\", state: \"idle\", capacity: 720}\n        ];\n        flowContext.STATE_TYPE = {\n            IDLE: \"idle\", \n            BUSY: \"busy\"\n        };\n        msg.flow  = flowContext;\n        return [null, msg];\n    case 'event':\n        msg.messsageNumber = ++flowContext.messsageNumber;\n        msg.payload.eventStart = new Date().getTime();\n        flowContext.eventQueue.push(msg.payload);\n        msg.flow  = flowContext;\n        return [msg, null];\n    default:\n        return [null, msg];\n}","outputs":2,"noerr":0,"x":321.5000534057617,"y":234.00000190734863,"wires":[["bfb8f663.abeba8","63525fb1.51a81"],["72eb220d.48712c"]]},{"id":"58f34c96.9a8504","type":"function","z":"28933915.7a4fd6","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":561.5,"y":402.6000061035156,"wires":[[]]},{"id":"63525fb1.51a81","type":"function","z":"db448218.18f8f","name":"FindIdleServer","func":"// Find the idle server with the highest capacity and assign the next event \n// to it.\n// - If the eventQueue is empty return null.\n// - If no server is idle returns null\n// - If there are multiple idle servers with the same capacity, the first wins\n//\n\n// add event queue logic\nvar flowContext = context.flow;\n\nif (flowContext.eventQueue.length === 0) return [null, msg, null];\n\nvar server = -1;\nvar capacity = Number.MAX_SAFE_INTEGER;\nfor (i = 0; i < flowContext.servers.length; i++) {\n    node.log(\"flowContext.servers[i].state: \" + flowContext.servers[i].state);\n    node.log(\"flowContext.servers[i].capacity: \" + flowContext.servers[i].capacity);\n\tif (flowContext.servers[i].state === flowContext.STATE_TYPE.IDLE) {\n\t\tif (parseInt(flowContext.servers[i].capacity) < capacity) {\n\t\t    capacity = parseInt(flowContext.servers[i].capacity);\n\t\t\tserver = i;\n\t\t\tnode.log(\"capacity: \" + capacity + \", server: \" + server);\n\t\t}\n\t}\n}\n\nif (server === -1) return [null, null, msg];\n\nflowContext.servers[server].state = flowContext.STATE_TYPE.BUSY;\nmsg.payload.server = server;\nmsg.payload.event = flowContext.eventQueue.shift();\nmsg.payload.eventEnd = new Date().getTime();\nmsg.payload.serverStart = new Date().getTime();\nmsg.flow = flowContext;\nreturn [msg, null, null];","outputs":3,"noerr":0,"x":637.500057220459,"y":226.00003051757812,"wires":[["ccfb7d8e.1c09b","216e7ed4.6551a2"],["c5e395b2.854b18"],["ad7ae058.fea09"]]},{"id":"89dcb0b2.98345","type":"delay","z":"db448218.18f8f","name":"server_01","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"700","randomLast":"1200","randomUnits":"milliseconds","drop":false,"x":1271.7002143859863,"y":202.80000686645508,"wires":[["e575a299.f772d"]]},{"id":"216e7ed4.6551a2","type":"switch","z":"db448218.18f8f","name":"RouteEvent","property":"payload.server","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":1007.5001068115234,"y":220.40001678466797,"wires":[["89dcb0b2.98345"],["b7814c19.66398"],["45c58e14.051d"],["f6bb59a9.bbaf98"]]},{"id":"b7814c19.66398","type":"delay","z":"db448218.18f8f","name":"server_02","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"710","randomLast":"1100","randomUnits":"milliseconds","drop":false,"x":1278.8000183105469,"y":250.1999912261963,"wires":[["e575a299.f772d"]]},{"id":"45c58e14.051d","type":"delay","z":"db448218.18f8f","name":"server_03","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"720","randomLast":"1000","randomUnits":"milliseconds","drop":false,"x":1283.2002143859863,"y":292.80001640319824,"wires":[["e575a299.f772d"]]},{"id":"e575a299.f772d","type":"function","z":"db448218.18f8f","name":"SetServerIdleSignal","func":"var flowContext = context.flow;\n\nflowContext.servers[msg.payload.server].state = flowContext.STATE_TYPE.IDLE;\nmsg.payload.serverEnd = new Date().getTime();\nreturn msg;","outputs":1,"noerr":0,"x":889.0001068115234,"y":486.0000057220459,"wires":[["7b7511f3.951e6","63525fb1.51a81"]]},{"id":"7b7511f3.951e6","type":"debug","z":"db448218.18f8f","name":"ServerIdleSignalDBG","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1109.5001602172852,"y":485.4000062942505,"wires":[]},{"id":"ccfb7d8e.1c09b","type":"debug","z":"db448218.18f8f","name":"FindIdleServerEventDBG","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":942.1000595092773,"y":146.0000171661377,"wires":[]},{"id":"dfc19a5.3423c68","type":"inject","z":"db448218.18f8f","name":"ResetFlow","topic":"reset","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":115.10005569458008,"y":295.40000438690186,"wires":[["6ae85f1f.fa292"]]},{"id":"72eb220d.48712c","type":"debug","z":"db448218.18f8f","name":"HandleMessageResetDBG","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":282.00010681152344,"y":356.9999942779541,"wires":[]},{"id":"bfb8f663.abeba8","type":"debug","z":"db448218.18f8f","name":"HandleMessageEventDBG","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":575.2001495361328,"y":161.20002937316895,"wires":[]},{"id":"c5e395b2.854b18","type":"debug","z":"db448218.18f8f","name":"FindIdleServerEmptyQueueDBG","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":932.4001197814941,"y":295.80002212524414,"wires":[]},{"id":"f6bb59a9.bbaf98","type":"debug","z":"db448218.18f8f","name":"RouteEventDBG","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1301.8000183105469,"y":374.39999437332153,"wires":[]},{"id":"ad7ae058.fea09","type":"debug","z":"db448218.18f8f","name":"FindIdleServerAllBusyDBG","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":910.8000144958496,"y":344.39999198913574,"wires":[]}]